/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.wrapper {
  padding-left: 300px;
}
.center {
  margin: auto;
  width: 80%;
}
.btn-file {
  position: relative;
  overflow: hidden;
}.btn-file input[type=file] {
  position: absolute;
  width:74px;
  top: 0;
  right: 0;
  min-width: 75px;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
